{% extends 'base.html' %}
{% block content %}
<main>
    <h1>This is the wall</h1>
    <form action="">
        <label for="message">Send a Message:</label>
        <input type="text" name="message">
        <input type="submit" value="Message!">
    </form>
    <h4>All Messages</h4>
    <ul>
        <!-- for message in all messages -->
        <li>
            <!-- message info -->
            <span>Message Poster and Date</span>
            <p>This is all of the informations regarding the message and what it contained!</p>
            <!-- all the messages comments -->
            <ul>
                <li>
                    <p>I commented on a date!</p>
                    <p>This is the Comment that I had regarding the message!</p>
                </li>
                <li>
                        <p>I commented on a date!</p>
                        <p>This is the Comment that I had regarding the message!</p>
                    </li>
                </ul>
                <li>
                        <p>I commented on a date!</p>
                        <p>This is the Comment that I had regarding the message!</p>
                    </li>
                </ul>
                <li>
                        <p>I commented on a date!</p>
                        <p>This is the Comment that I had regarding the message!</p>
                    </li>
                </ul>
                <li>
                        <p>I commented on a date!</p>
                        <p>This is the Comment that I had regarding the message!</p>
                    </li>
                </ul>
            </ul>
            <!-- commenting form -->
            <form action="">
                <input type="text" name="comment" value="Comment Here!">
                <input type="submit" value="Comment!">
            </form>

        </li>
        <li>
            <!-- message info -->
            <span>Message Poster and Date</span>
            <p>This is all of the informations regarding the message and what it contained!</p>
            <!-- all the messages comments -->
            <ul>
                <li>
                    <p>I commented on a date!</p>
                    <p>This is the Comment that I had regarding the message!</p>
                </li>
                <li>
                        <p>I commented on a date!</p>
                        <p>This is the Comment that I had regarding the message!</p>
                    </li>
                </ul>
                <li>
                        <p>I commented on a date!</p>
                        <p>This is the Comment that I had regarding the message!</p>
                    </li>
                </ul>
                <li>
                        <p>I commented on a date!</p>
                        <p>This is the Comment that I had regarding the message!</p>
                    </li>
                </ul>
                <li>
                        <p>I commented on a date!</p>
                        <p>This is the Comment that I had regarding the message!</p>
                    </li>
                </ul>
            </ul>
            <!-- commenting form -->
            <form action="">
                <input type="text" name="comment" value="Comment Here!">
                <input type="submit" value="Comment!">
            </form>

        </li>
        <li>
            <!-- message info -->
            <span>Message Poster and Date</span>
            <p>This is all of the informations regarding the message and what it contained!</p>
            <!-- all the messages comments -->
            <ul>
                <li>
                    <p>I commented on a date!</p>
                    <p>This is the Comment that I had regarding the message!</p>
                </li>
                <li>
                        <p>I commented on a date!</p>
                        <p>This is the Comment that I had regarding the message!</p>
                    </li>
                </ul>
                <li>
                        <p>I commented on a date!</p>
                        <p>This is the Comment that I had regarding the message!</p>
                    </li>
                </ul>
                <li>
                        <p>I commented on a date!</p>
                        <p>This is the Comment that I had regarding the message!</p>
                    </li>
                </ul>
                <li>
                        <p>I commented on a date!</p>
                        <p>This is the Comment that I had regarding the message!</p>
                    </li>
                </ul>
            </ul>
            <!-- commenting form -->
            <form action="">
                <input type="text" name="comment" value="Comment Here!">
                <input type="submit" value="Comment!">
            </form>

        </li>
    </ul>
</main>
{% endblock %}